@media (min-width: 1600px) and (max-width: 1921px) {
    .ruler.horizontal {
        top: 16% !important;
        left: 3% !important;
    }

    .ruler.vertical {
        left: 2% !important;
    }
}

@media (min-width: 800px) and (max-width: 1367px) {
    .ruler.horizontal {
        top: 19.5% !important;
        left: 3% !important;
    }

    .ruler.vertical {
        left: 2.5% !important;
    }
}

@media (min-width: 1367px) and (max-width: 1600px) {
    .ruler.horizontal {
        top: 18% !important;
        left: 3% !important;
    }

    .ruler.vertical {
        left: 2% !important;
    }
}

.ruler.vertical {
    cursor: move;
}

.ruler.horizontal {
    cursor: move;
}